@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 255 254;
    --foreground: 47 50 49;

    --primary: 42 157 143;
    --primary-foreground: 252 255 254;
    --primary-50: 154 228 219;
    --primary-100: 138 224 213;
    --primary-200: 106 215 202;
    --primary-300: 74 207 190;
    --primary-400: 51 189 172;
    --primary-500: 42 157 143;
    --primary-600: 30 113 103;
    --primary-700: 18 68 62;
    --primary-800: 6 24 22;
    --primary-900: 0 0 0;
    --primary-950: 0 0 0;
  }

  .dark {
    --background: 29 31 31;
    --foreground: 252 255 254;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-default text-lg;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-shadow {
    text-shadow: 0 0 0.5rem rgb(var(--primary) / 0.2);
  }

  .dark .text-shadow {
    text-shadow: 0 0 0.5rem rgb(var(--primary) / 0.6);
  }
}
